.dsc-btn-next-page {
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--blue);
}

.dsc-btn-next-page span {
  font-size: 16px;
  font-weight: 700;
  color: var(--blue);
}
