.dsc-cart-icon {
  display: flex;
  justify-content: center;
}

.dsc-cart-count {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 10px;
  width: 18px;
  height: 18px;
  position: relative;
  top: -10px;
  left: -10px;
  color: var(--white);
  background-color: var(--red);
}