<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/admin-home.css" />

    <title>DSCommerce - VBeta</title>
  </head>
  <body>
    <header class="dsc-header-admin">
      <nav class="dsc-container">
        <h1>DSCAdmin</h1>

        <div class="dsc-navbar-right">
          <div class="dsc-menu-items-container">
            <div class="dsc-menu-item">
              <img src="images/home.svg" alt="home">
            </div>
            <div class="dsc-menu-item">
              <img src="images/products.svg" alt="produto">
            </div>
          </div>
          
          <div class="dsc-logged-user">
            <p>Olá Maria Silva</p>
            <a href="#">Sair</a>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="dsc-container dsc-admin-section">
        <h2 class="dsc-section-title dsc-mb-20">Dashboard</h2>
      </section>
    </main>
  </body>
</html>
