<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/cart.css" />

    <title>DSCommerce - VBeta</title>
  </head>
  <body>
    <header>
      <nav class="container">
        <h1>DSCommerce</h1>
        <a href="#">Entrar</a>
      </nav>
    </header>
    <main>
      <section class="container cart-container">
        <div class="card mb-20">
          <div class="cart-item-container line-bottom">
            <div class="cart-item-left">
              <img src="images/computer.png" alt="product" />
              <div class="cart-item-description">
                <h3>Computador Gamer XT</h3>
                <div class="cart-item-quantity-container">
                  <div class="cart-item-quantity-btn">-</div>
                  <p>1</p>
                  <div class="cart-item-quantity-btn">+</div>
                </div>
              </div>
            </div>
            <div class="cart-item-right">
              <span>R$ 5.000,00</span>
            </div>
          </div>
          
          <div class="cart-item-container line-bottom">
            <div class="cart-item-left">
              <img src="images/computer.png" alt="product" />
              <div class="cart-item-description">
                <h3>Computador Gamer XT</h3>
                <div class="cart-item-quantity-container">
                  <div class="cart-item-quantity-btn">-</div>
                  <p>1</p>
                  <div class="cart-item-quantity-btn">+</div>
                </div>
              </div>
            </div>
            <div class="cart-item-right">
              <span>R$ 5.000,00</span>
            </div>
          </div>
          
          <div class="cart-total-container">
            <h3>R$ 10.000,00</h3>
          </div>
        </div>
        <div class="btn-page-container">
          <div class="btn btn-white">Continuar Comprando</div>
          <div class="btn btn-blue">Finalizar Pedido</div>
        </div>
      </section>
    </main>
  </body>
</html>
