<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/catalog.css" />

    <title>DSCommerce - VBeta</title>
  </head>
  <body>
    <header>
      <nav class="dsc-container">
        <h1>DSCommerce</h1>
        <a href="#">Entrar</a>
      </nav>
    </header>
    <main>
      <section class="dsc-container dsc-catalog-section">
        <form>
          <button type="submit">🔎︎</button>
          <input type="text" placeholder="Nome do produto" />
          <button type="reset">🗙</button>
        </form>

        <div class="dsc-mb-20 dsc-mt-20">
          <div class="dsc-card">
            CARD
          </div>
          <div class="dsc-card">
            CARD
          </div>
          <div class="dsc-card">
            CARD
          </div>
          <div class="dsc-card">
            CARD
          </div>
          <div class="dsc-card">
            CARD
          </div>
          <div class="dsc-card">
            CARD
          </div>
          <div class="dsc-card">
            CARD
          </div>
          <div class="dsc-card">
            CARD
          </div>
        </div>
        
        <div class="dsc-btn-next-page">
          <span>Carregar mais</span>
        </div>

      </section>
    </main>
  </body>
</html>
