<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/cart.css" />
    <link rel="stylesheet" href="css/confirmation.css" />

    <title>DSCommerce - VBeta</title>
  </head>
  <body>
    <header>
      <nav class="dsc-container">
        <h1>DSCommerce</h1>

        <div class="dsc-navbar-right">
          <div class="dsc-menu-items-container">
            <div class="dsc-menu-item">
              <img src="images/admin.svg" alt="admin">
            </div>
            <div class="dsc-menu-item">
              <img src="images/cart.svg" alt="carrinho">
            </div>
          </div>
          
          <div class="dsc-logged-user">
            <p>Olá Maria Silva</p>
            <a href="#">Sair</a>
          </div>
        </div>

      </nav>
    </header>
    <main>
      <section class="dsc-container dsc-confirmation-container-section">

        <div class="dsc-mb-20 dsc-confirmation-message">
          <span>Pedido realizado! Número 35.</span>
        </div>

        <div class="dsc-card dsc-mb-20">
          <div class="dsc-cart-item-container dsc-line-bottom">
            <div class="dsc-cart-item-left">
              <img src="images/computer.png" alt="product" />
              <div class="dsc-cart-item-description">
                <h3>Computador Gamer XT</h3>
                <div class="dsc-cart-item-quantity-container">
                  <p>1</p>
                </div>
              </div>
            </div>
            <div class="dsc-cart-item-right">
              <span>R$ 5.000,00</span>
            </div>
          </div>
          
          <div class="dsc-cart-item-container dsc-line-bottom">
            <div class="dsc-cart-item-left">
              <img src="images/computer.png" alt="product" />
              <div class="dsc-cart-item-description">
                <h3>Computador Gamer XT</h3>
                <div class="dsc-cart-item-quantity-container">
                  <p>1</p>
                </div>
              </div>
            </div>
            <div class="dsc-cart-item-right">
              <span>R$ 5.000,00</span>
            </div>
          </div>
          
          <div class="dsc-cart-total-container">
            <h3>R$ 10.000,00</h3>
          </div>
        </div>

        <div class="dsc-btn-page-container">
          <div class="dsc-btn dsc-btn-white">Início</div>
        </div>
      </section>
    </main>
  </body>
</html>
