<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/details.css" />

    <title>DSCommerce - VBeta</title>
  </head>
  <body>
    <header>
      <nav class="container">
        <h1>DSCommerce</h1>
        <a href="#">Entrar</a>
      </nav>
    </header>
    <main>
      <section class="container product-details">
        <div class="card mb-20">
          <div class="product-details-top line-bottom">
            <img src="images/computer.png" alt="product" />
          </div>
          <div class="product-details-bottom">
            <h3>R$ 5.000,00</h3>
            <h4>Notebook DELL 15,5" 4K 512SSD 8GB</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, vel
              aspernatur vitae quod nobis cumque placeat id, excepturi corporis
              sit maxime libero nemo atque! Ad, ratione eos. Consequatur porro
              distinctio debitis facere ex molestias quibusdam quos eveniet
              ratione, totam perspiciatis aliquam culpa asperiores tempora
              soluta aperiam quia commodi magni velit harum fugit eius nemo
              assumenda? Sed reiciendis blanditiis velit atque eius eveniet illo
              hic ipsum reprehenderit magnam earum eos dolorem cupiditate, eaque
              voluptate doloremque tenetur pariatur veritatis illum qui commodi
              similique necessitatibus aliquam! Facilis rerum beatae a voluptas
              adipisci nemo non voluptatibus cum. 
            </p>

            <div class="category-container">
              <div class="category">Eletônicos</div>
              <div class="category">Computadores</div>
            </div>
          </div>
        </div>
        <div class="btn-page-container">
          <div class="btn btn-white">Início</div>
          <div class="btn btn-blue">Comprar</div>
        </div>
      </section>
    </main>
  </body>
</html>
