<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/product-listing.css" />

    <title>DSCommerce - VBeta</title>
  </head>
  <body>
    <header>
      <nav class="dsc-container">
        <h1>DSCommerce</h1>
        <a href="#">Entrar</a>
      </nav>
    </header>
    <main>
      <section class="dsc-container dsc-product-listing-section">
        <h2 class="dsc-section-title dsc-mb-20">Cadastro de Produtos</h2>

        <div class="dsc-btn-page-container dsc-mb-20">
          <div class="dsc-btn dsc-btn-white">Início</div>
        </div>

        <form class="dsc-search-bar">
          <button type="submit">🔎︎</button>
          <input type="text" placeholder="Nome do produto" />
          <button type="reset">🗙</button>
        </form>

        <table class="dsc-table dsc-mb-20 dsc-mt-20">
          <thead>
            <th>ID</th>
            <th></th>
            <th>Preço</th>
            <th class="dsc-txt-left">Nome</th>
            <th></th>
            <th></th>
          </thead>

          <tbody>
            <tr>
              <td>341</td>
              <td>
                <img
                  class="dsc-product-listing-image"
                  src="images/computer.png"
                  alt="pc"
                />
              </td>
              <td><span>R$ 5.000,00</span></td>
              <td class="dsc-txt-left">
                <span>Computador Gamer XT Plus Ultra</span>
              </td>
              <td>
                <img
                  src="images/edit.svg"
                  alt="edit"
                  class="dsc-product-listing-btn"
                />
              </td>
              <td>
                <img
                  src="images/delete.svg"
                  alt="delete"
                  class="dsc-product-listing-btn"
                />
              </td>
            </tr>
          </tbody>
        </table>

        <div class="dsc-btn-next-page">
          <span>Carregar mais</span>
        </div>
      </section>
    </main>
  </body>
</html>
